.step {
  display: none;
}

.step.active {
  display: block;
}

.row {
  display: block;
}

.row.hide {
  display: none;
}

.subtotal {
  text-align: left;
  background-color: #d9d9d9;
  color: black;
  font-weight: bold;
}

.subtotal.value {
  text-align: right;
}

.discount {
  text-align: left;
  background-color: #bfbfbf;
  color: black;
  font-weight: bold;
}

.discount.val {
  text-align: right;
  color: red;
}

.discount.per {
  text-align: right;
  color: #800000;
}

.total {
  text-align: left;
  background-color: #ffcc00;
  color: black;
  font-weight: bold;
}

.total.value {
  text-align: right;
}
