{% extends "buscador/base_page.html" %}
{% load static %}
{% block title %}Búsqueda de Información Autómatica{% endblock %}
{% block breadcrumb %}In progress{% endblock %}
{% block content %}
<div class="row margin-bottom-40 about-header">
    <div class="col-md-12">
        <h1>Próximamente</h1>
        <h2>Nuevas y geniales funcionalidades se acercan</h2>
    </div>
</div>
<!-- END CONTENT HEADER -->
<!-- BEGIN CARDS -->
<div class="row margin-bottom-20">
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="card-icon">
                <i class="icon-user-follow font-red-sunglo theme-font"></i>
            </div>
            <div class="card-title">
                <span> Mejor experiencia de Usuario </span>
            </div>
            <div class="card-desc">
                <span> Nombre de usuario personalizado
                    <br> imagenes y más </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="card-icon">
                <i class="icon-magnifier font-green-haze theme-font"></i>
            </div>
            <div class="card-title">
                <span> Buscador </span>
            </div>
            <div class="card-desc">
                <span> Los filtros que mejor se adaptan
                    <br> a tus necesidades </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="card-icon">
                <i class="icon-cloud-upload font-purple-wisteria theme-font"></i>
            </div>
            <div class="card-title">
                <span> Agregar materiales </span>
            </div>
            <div class="card-desc">
                <span> Todos los materiales que quieras
                    <br> subir y clasificarlos según sus beneficios a cada perfil </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="card-icon">
                <i class="icon-layers font-blue theme-font"></i>
            </div>
            <div class="card-title">
                <span> Automatización </span>
            </div>
            <div class="card-desc">
                <span> Todos los componentes de la automatización
                    <br> mediante una red neuronal y otros </span>
            </div>
        </div>
    </div>
</div>
<!-- END CARDS -->
<!-- BEGIN TEXT & VIDEO -->
<div class="row margin-bottom-40">
    <div class="col-lg-12">
        <div class="portlet light about-text">
            <h4>
                <i class="fa fa-check icon-info"></i> Acerca de BIA</h4>
            <p class="margin-top-20"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
                iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>
<!-- END TEXT & VIDEO -->
<!-- BEGIN MEMBERS SUCCESS STORIES -->
<div class="row margin-bottom-40 stories-header" data-auto-height="true">
    <div class="col-md-12">
        <h1>Acerca de los creadores</h1>
        <h2>Piensa en grande, camina en grande y se feliz</h2>
    </div>
</div>
<div class="row margin-bottom-20 stories-cont">
    <div class="col-lg-3 col-md-6">
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="photo">
                <img src="{% static 'buscador/pages/media/users/yo.jpg' %}" alt="" class="img-responsive" /> </div>
            <div class="title">
                <span> Rolando Casanueva </span>
            </div>
            <div class="desc">
                <span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="portlet light">
            <div class="photo">
                <img src="{% static 'buscador/pages/media/users/richi.jpg' %}" alt="" class="img-responsive" /> </div>
            <div class="title">
                <span> Ricardo Carrasco </span>
            </div>
            <div class="desc">
                <span> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
    </div>
</div>
<div class="row margin-bottom-40 stories-footer">
    <div class="col-md-12">

    </div>
</div>
<!-- END MEMBERS SUCCESS STORIES -->
{% endblock %}
{% block plugin_js %}
  <script src="{% static 'buscador/layouts/global/scripts/quick-nav.min.js' %}" type="text/javascript"></script>
{% endblock %}
{% block plugin_css %}
<link href="{% static 'buscador/pages/css/about.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
