{% extends "buscador/base_page.html" %}
{% block title %}Búsqueda de Información Autómatica{% endblock %}
{% block content %}
<div class="note note-info">
  <h4 class="block">Contenidos en desarrollo</h4>
  <p>Hola {{ request.user.profile.full_name }}, <br>
    En esta plataforma usted podrá buscar materiales los cuales se le presentarán en base a su perfil cognitivo. Utilice las funcionalidades activas para desplazarse por el sistema.
    <br>Prontamente se agregarán algunas funcionalidades tales como:
    <br>  - Nombre de Usuario personalizado

  </p>
  <br>
</div>
{% endblock %}
